/* body {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.body {
  display: flex;
  flex-flow: row;
}
.circle {
  animation-name: example;
  animation-duration: 2s;
  width: 0px;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.circle1 {
  background-color: rgb(69, 162, 199);
  transition: 1s;
  height: 20px;
  display: flex;
  flex-flow: column;
  border-right: 1px solid red;
}
.button {
  border: none;
  outline: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  border-radius: 30%;
  padding: 1%;
  margin: 20px 300px;
  background-color: violet;
  transition: 0.2s;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(238, 70, 70);
}
.button:active {
  transform: scale(0.9);
}
@keyframes example {
  100% {width: 100px;}
}
.map{
  height:100vh;

}
